#Ignore Python virtual environment directories
.venv

#Ignore all .stl files
*.stl
stl/*

#Ignore Python bytecode files
*.pyc
altprint/__pycache__/*
altprint/*.pyc

#Ignore .yml files
*.yml

#Ignore all .gcode files
batch_code/*.gcode
*.gcode
*.egg-info